
.sponsor-card-container{
    border: 3px solid rgb(243, 195, 195);
    height: 350px;;
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 30px 20px 20px 20px;
    margin: 10px 10px;
}

.sponsor-card-Image{
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.sponsor-card-Image img{
    height: 100px;
    width: 200px;
}
.sponsor-card-content{
    width: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
}
.sponsor-card-name{
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-bottom: 1px solid grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sponsor-card-description{
    flex: 4;
    display: flex;
    text-align: justify;
    font-size: medium;
    align-items: center;
    color: rgb(90, 88, 88);
    padding: 10px 10px;
    justify-content: center;
    border-bottom: 1px solid grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sponsor-card-price-container{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid grey;
}

.sponsor-for-button{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0 0 0;
}

.sponsor-whole-button{
    height: 100%;
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
    background-color: rgb(148, 45, 27);
    border: 2px solid rgb(148, 45, 27);
    cursor: pointer;
}
.sponsor-whole-button:hover{
    border: 2px solid rgb(148,45,27);
    background-color: white;
}
.sponsor-whole-button:hover .sponsor-for-change{
    color: rgb(94, 23, 11);
}
.sponsor-for-change{
    font-size: large;
    color: white;
    padding: 4px 8px;
}

